.body{
    font-family: 'Roboto',sans-serif;
    background-color: white;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color:inherit;
  }
a:hover, a:active {
    color: grey;
   
  }
.nav_box{
    position: sticky;
    top: 0;
    display: flex;
    height: 50px;
    width: auto;
    z-index: 100;
    justify-content:flex-start;
    text-align: center;
    font-family:'Roboto', sans-serif;
    padding: 10px;
    background-color: transparent;
    margin: -10px;
    outline: 2px solid;
    outline-color: transparent;

    color:white;
    flex-direction: row;
}
.logo{
    width: auto;
    height: 6vh;
    
}

.nav_buttons{
    list-style-type:none;
    display: flex;
    align-self: center;
    width: 70vw;
    color:inherit;
    justify-content: space-evenly;
    text-decoration: none;
    flex-direction: inherit;
}
.buttonnav{
    text-decoration: none;

}
.main-quote{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.slogan{
    font-family: 'Poppins',sans-serif;
    font-size: 50px;
}
.slogane{
    color:red;
}
.main-pagesec{
    position: absolute;
    z-index: 0;
    top:0;
    color: white;
    display: flex;
    flex-direction: column;
    background-image: url('./images/main-test1.png');
    height: 80vh;
    left:0;
    width: 100vw;
    background-size:cover;
    background-attachment: scroll;
    background-position: center;
    justify-content: center;
    overflow-y: auto;
    margin-top: 0;
}


.scroll-image{
    height:10dvh;

}

.main-addinfo{
    height: 90vh;
    margin-top: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    
}
.extendlogos{
    height: 30vh;
    width: auto;
    align-items: inherit;
}

.aboutbox{
    max-width: 30vw;
    text-align: center;
}
.h2{
    font-family: 'Poppins',sans-serif;
}

.footer{
    height: 30vh;
    background-color: black;
    color: white;
    margin: -20px;
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    position:inherit;
}
.social-icons{
    height: 10px;
    width: auto;
    display: flex;
}
.logoig{
    height: 20px;
    width: 20px;
}